.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--base-size-8, 0.5rem);
  padding-left: 8px;
  border-radius: var(--borderRadius-medium, 6px);
  transition: background-color 0.2s;
  cursor: pointer;
  gap: var(--base-size-24, 1.5rem);
}

.container:hover {
  background-color: var(--bgColor-muted, #f6f8fa);
}

.containerActive {
  background-color: var(--bgColor-muted, #f6f8fa);
}

.label {
  color: var(--fgColor-muted, #656d76);
  font-family: var(--fontStack-sansSerif, "SF Pro Text");
  font-size: var(--text-body-size-medium, 14px);
  font-weight: var(--base-text-weight-normal, 400);
  line-height: var(--text-body-lineHeight-medium, 20px);
  flex-shrink: 0;
}

.value {
  color: var(--fgColor-default, #1f2328);
  font-family: var(--fontStack-sansSerif, "SF Pro Text");
  font-size: var(--text-body-size-medium, 14px);
  font-weight: var(--base-text-weight-normal, 400);
  line-height: var(--text-body-lineHeight-medium, 20px);
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
