.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 8px;
  border-radius: var(--borderRadius-medium, 6px);
  cursor: pointer;
  gap: var(--base-size-24, 1.5rem);
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  transition: height 0.3s ease-in-out, background-color 0.2s;
  overflow: hidden;
}

.container:hover {
  background-color: var(--control-bgColor-hover, #f6f8fa);
}

.containerColored:hover {
  background-color: color-mix(in srgb, var(--control-bgColor-hover, #f6f8fa) 50%, transparent);
}

.containerColored.containerSelect:hover {
  background-color: color-mix(in srgb, var(--control-bgColor-hover, #f6f8fa) 50%, transparent);
}

.containerActive {
  background-color: var(--control-bgColor-active, #e0e0e0);
}

.containerWithFooter {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.containerActiveText, .containerActiveDate {
    .value {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
     }
}

.containerSelect {
  .value {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.label {
  color: var(--fgColor-default);
  font-family: var(--fontStack-sansSerif, "SF Pro Text");
  font-size: var(--text-body-size-small, 12px);
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 16px;
  flex-shrink: 0;
  width: 30%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

.value {
  color: var(--fgColor-default, #1f2328);
  font-family: var(--fontStack-sansSerif, "SF Pro Text");
  font-size: var(--text-body-size-small, 12px);
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 18px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 70%;
  padding: var(--base-size-8, 0.5rem);
}
