.container {
  /* margin-bottom: var(--base-size-16, 1rem); */
}

.editing {
  /* Applied when editing is active */
}

.clickable {
  width: 100%;
  padding: var(--base-size-6);
  padding-left: 8px;
  border-radius: var(--borderRadius-medium, 6px);
  transition: background-color 0.2s;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    background-color: var(--bgColor-muted, #f6f8fa);
  }
}

.clickableEmpty {
  background-color: var(--bgColor-muted, #f6f8fa);
}

.clickableEditing {
  cursor: default;
}

.clickableEditing:hover {
  background-color: transparent;
}

.footer {
  margin-top: var(--base-size-4, 4px);
}

.animateHeight {
  height: calc-size(auto, size * 1) !important;
  transition: height .4s;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: default;
  pointer-events: auto;
}

.portal {
  position: fixed;
  z-index: 101;
  background-color: var(--bgColor-default, #ffffff);
  border-radius: var(--borderRadius-medium, 6px);
  box-shadow: var(--shadow-floating-large, 0 10px 15px -3px rgba(0, 0, 0, 0.1));
  max-height: 500px;
  overflow-y: auto;
}
